
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>IO : Metodo Simplex</title>
    <meta charset="utf-8" />
    <meta name="author" content="Mario Ospino" />
    <meta
      name="Investigacion de Operaciones"
      content="Investigacion de Operaciones : Metodo Simplex"
    />
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
  </head>
  <body>
    <div>
      <div>
          <h1 >INVESTIGACION DE OPERACIONES</h1>
      </div>
  
      
    </div>
   
  </body>
</html>
