*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    padding: 1%;
    
   
}

#h1_metodo_simplex{
    font-size: 300%;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
}

#div_body{
    
    width: 100%;
    background: snow;
   
}

#title_metodo_simplex{
    margin-top:1%;
    border-bottom: 1px solid;
    height: 10%;
    width: 50%;
    border-radius: 4%;
}

#h1_Variable_dcs{
    font-size: 150%;
    font-family: 'Roboto Mono', monospace;
    margin-top: 10%;
    width: 50%;
   
}